<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/b023d8b1-9810-4ab9-80dd-12dd36fcaa39/resourceGroups/dagpay-rg/providers/Microsoft.Web/sites/dagpay2</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://dagpay2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>dagpay2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dagpay2</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dagpay2</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>